<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>125700177133-v87tpkk2l46trsk68rhooojm6u553sgg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.125700177133-v87tpkk2l46trsk68rhooojm6u553sgg</string>
	<key>API_KEY</key>
	<string>AIzaSyDx-8KQRy-dJ3X78aklzJ73f8UnhinYHyE</string>
	<key>GCM_SENDER_ID</key>
	<string>125700177133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firestoreDemo</string>
	<key>PROJECT_ID</key>
	<string>firestore-demo-a7da1</string>
	<key>STORAGE_BUCKET</key>
	<string>firestore-demo-a7da1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:125700177133:ios:572c8eae46d94e79cb20e4</string>
</dict>
</plist>